#baiviet {
    height: 1000px;
    margin-top: 200px;

}

.navigation {
    display: flex;

}

.navigation p:last-child p:first-child {
    color: #bd945f;
}

#baiviet .container {
    padding-left: 50px;
}

.content {
    display: flex;
    margin-top: 70px;
}

.left {
    width: 800px;
}

.left .content-title p {
    color: #bd945f;
    font-size: 24px;
    font-family: "Gotham-ultra";
    line-height: 30px;
}

.left .content-title {
    margin-bottom: 40px;
}

.content-body p:first-child {
    font-size: 18px;
    text-align: justify;
    line-height: 22px;
    margin-bottom: 1rem;
}

.content-body p:last-child {
    font-size: 16px;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 2rem;
}

.right {
    margin-left: 65px;
    width: 340px;
}

.right p:first-child {
    color: #383a5d;
    position: relative;
    font-size: 18px;
    margin-bottom: 48px;
}

.right p:first-child::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 70px;
    bottom: 0;
    background-color: #bd945f;
    left: 0;
}

.right div {
    display: flex;
    margin-bottom: 30px;
}

.right div p {
    font-size: 16px;
    width: 190px;
    color: #383a5d;
    line-height: 20px;
    margin-left: 30px;
}

.right div div {
    height: 120px;
    width: 120px;
    background-color: #bd945f;
}