* {
    margin: 0;
    padding: 0;
    font-family: "Gotham-Medium";
    font-size: 16px;
}

ul {
    list-style: none;
    /* padding: 0; */
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    background-color: #f3f3f3;
}

header {
    top: 0;
    background-color: white;
    position: fixed;
    padding: 1rem 0.75rem;
    width: 100%;
    z-index: 9;
}

.container {
    max-width: 1280px;
    padding: 0;
}

/* Header */
.header-nav ul li {
    padding: 0 1.75rem;
    height: 100%;

}

.header-nav ul li:last-child {
    padding-right: 0;
}

.header-nav ul li a {
    position: relative;
    padding: 0.5rem 0;
}

.header-nav ul li a::after {
    content: "";
    width: 70%;
    height: 5px;
    background-color: #bd945f;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.header-nav ul li:hover a::after {
    display: block;
}


/* End header */





/* Footer */

footer {
    background-color: #363636;
    color: #f3f3f3;
}

footer .container {
    padding-top: 80px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 305px;
}

.footer-title {
    font-size: 18px;
    position: relative;
    margin-bottom: 1rem;
    line-height: 18px;
}

.footer-title::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 90px;
    background-color: #f3f3f3;
    left: 0;
    bottom: -8px;
}

.thongtinchung span {
    font-size: 24px;
    font-family: "Gotham-medium";
}

.thongtinchung div p {
    font-family: "Gotham-thin";
    font-size: 18px;
}

.thongtinchung div p i {
    padding-left: 1rem;
    padding-right: 1rem;

}

.vechungtoi p {
    font-family: "Gotham-thin";
    font-size: 18px;
}

.ketnoi i {
    margin-left: 35px;
    margin-top: 2rem;
    transform: scale(3);
    width: 36px;
    height: 36px;
}

.ketnoi img {
    width: 150px;
    height: 55px;
}

/* End footer */