* {
    margin: 0;
    padding: 0;
    font-family: "Gotham-Medium";
    font-size: 16px;
}

ul {
    list-style: none;
    /* padding: 0; */
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    background-color: #f3f3f3;
}

header {
    top: 0;
    background-color: white;
    position: fixed;
    padding: 1rem 0.75rem;
    width: 100%;
    z-index: 9;
}

.container {
    max-width: 1280px;
    padding: 0;
}

/* Header */
.header-nav ul li {
    padding: 0 1.75rem;
    height: 100%;

}

.header-nav ul li:last-child {
    padding-right: 0;
}

.header-nav ul li a {
    position: relative;
    padding: 0.5rem 0;
}

.header-nav ul li a::after {
    content: "";
    width: 70%;
    height: 5px;
    background-color: #bd945f;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.header-nav ul li:hover a::after {
    display: block;
}


/* End header */



/* Banner */

#banner {
    background-image: url(../img/banner.jpg);
    height: 56.5rem;
    margin-top: 3.75rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    padding-top: 13.25rem;
}

.banner-content h2,
span {
    font-family: "Gotham-Ultra";
    font-size: 46px;
    margin: 0;
}

.banner-content h2 {
    color: #2c2e53;
    margin-bottom: 1rem;
}

.banner-content h2 span {
    color: #bd945f;
}

.banner-content p {
    font-size: 1rem;
    width: 555px;
    text-align: justify;
    line-height: 1rem;
    margin-bottom: 2rem;
}

.banner-content button {
    padding: 1rem 2rem;
    font-family: "Gotham-Ultra";
    color: white;
    border: none;
    background-color: #bd945f
}

/* End Banner */

/* category */

#category {
    margin-top: -3.75rem;
}

.category-content>div {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Gotham-Ultra";
}

.category-content div p {
    font-family: "Gotham-Ultra";
    color: #2c2e53;
}

/* End category */

/* featured products */


#featured-products {
    margin-top: 100px;
}

.featured-products-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
    color: #2c2e53;
}

.featured-products-title p {
    font-family: "Gotham-Ultra";
    font-size: 30.22px;
    position: relative;
}

.featured-products-title p::after {
    content: "";
    width: 160px;
    height: 10px;
    background-color: #bd945f;
    position: absolute;
    top: 100%;
    display: flex;
    left: 25%;
}

.crs-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.crs-item-title {
    font-family: "Gotham-Ultra";
    color: #2c2e53;
    margin-top: 1rem;
}

.crs-item-rating {
    color: #bd945f;
}

.crs-item-feature {
    font-size: 0.75rem;
    color: #888888;
}

.crs-item-price {
    line-height: 0.75rem;
    font-size: 0.75rem;
}

/* about-us */

#about-us {
    height: 1080px;
    background-image: url(../img/AnhCatTC/ve-chung-toi/bg-about-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about-us div {
    z-index: 1;
}

#about-us::after {
    height: 1080px;
    background-color: black;
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.75;
    z-index: 0;
}

.about-us-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
    color: #f3f3f3;
    padding-top: 100px;
}

.about-us-title p {
    font-family: "Gotham-Ultra";
    font-size: 30.22px;
    position: relative;
    z-index: 1;
}

.about-us-title p::after {
    content: "";
    width: 160px;
    height: 10px;
    background-color: #bd945f;
    position: absolute;
    bottom: -12;
    display: flex;
    left: 15%;
    z-index: 1;
}

.about-us-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 34px;
    align-items: center;
    justify-content: center;
}

.about-us-content .right p {
    width: 560px;
    color: #f3f3f3;
    line-height: 16px;
    text-align: justify;
}

.about-us-content .right .right-imgs {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.about-us-content .right .right-imgs img:last-child {
    position: relative;
}


.about-us-content .right p {
    font-size: 12px;
    margin-bottom: 16px;
    width: 555px;
}



.about-us-content .right p span {
    font-size: 12px;
}

.about-us-content .right p:first-child {
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 32px;
}

.about-us-content .right p:first-child span {
    font-size: 24px;
}


/* end about-us */

/* why about us */
.why-about-us .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-about-us-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 46px;
    color: #f3f3f3;
    padding-top: 100px;
}

.why-about-us-title p {
    font-family: "Gotham-Ultra";
    font-size: 30.22px;
    position: relative;
    z-index: 1;
}

.why-about-us-title p::after {
    content: "";
    width: 160px;
    height: 10px;
    background-color: #bd945f;
    position: absolute;
    bottom: -12;
    display: flex;
    left: 35%;
    z-index: 1;
}

.why-about-us .row .why-about-us-item {
    background-color: #f3f3f3;
    width: 574px;
    height: 112px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 40px;
}

.why-about-us-item-text {
    margin-left: 35px;
}

.why-about-us-item-text p:first-child {
    font-family: "Gotham-Ultra";
    font-size: 24px;
    color: #bd945f;
}

.why-about-us-item-text p:last-child {
    font-size: 14px;

}

/* end why about us */

/* News */

.news-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 46px;
    color: #2c2e53;
    padding-top: 100px;
}

.news-title p {
    font-family: "Gotham-Ultra";
    font-size: 30.22px;
    position: relative;
    z-index: 1;
}

.news-title p::after {
    content: "";
    width: 160px;
    height: 10px;
    background-color: #bd945f;
    position: absolute;
    bottom: -12;
    display: flex;
    left: -13%;
    z-index: 1;
}

.news-content {
    display: flex;
    align-items: start;
    justify-content: center;
    max-width: 1175px;

}

.news-content-left {
    position: relative;
    margin-left: 100px;
}

.news-content-left div {
    position: absolute;
    top: 0;
    height: 150px;
    background-color: #bd945f;
    padding-top: 24px;
    padding-left: 40px;
    top: 373px
}

.news-content-left div p:first-child {
    font-size: 24px;
    color: #f3f3f3;
    line-height: 30px;
}

.news-content-left div p:last-child {
    margin-top: 0.75rem;
    font-size: 12px;
    font-family: "Gotham-Thin";
    line-height: 12px;
    text-align: justify;
    padding-right: 24px;
}

.news-content-right {

    margin-left: 50px;
}

.news-content-right p {
    color: #bd945f;
}

.news-content-right-item {
    display: flex;
    width: 494px;
    height: 140px;
    margin-bottom: 24px;
}

.news-content-right-item img {
    margin-right: 2rem;
}

.news-content-right-item div p:first-child {
    font-size: 18px;
    color: #bd945f;
    text-align: justify;
    line-height: 24px;
    margin-bottom: 0.75rem;
}

.news-content-right-item div p:last-child {
    font-size: 12px;
    font-family: "Gotham-Thin";
    text-align: justify;
    line-height: 1rem;
}

/* end news */