<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/layout :: head('Devmaster::Lien he')">
    <title></title>
</head>
<body>
<header th:replace="fragments/layout :: header">
</header>
<section class="container" style="min-height: 268px">
    <div class="row">
        <h1>day la trang gioi thieu</h1>
        <hr/>
        <h3>Vien cong ngeh va dao tao devmaster</h3>
        <p>don vi tien phong trong phong dao tao ky nang cntt</p>
    </div>
</section>
<footer th:replace="fragments/layout :: footer">
</footer>
</body>
</html>