<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Devmaster::Lien he')">
    <title></title>
</head>
<body>
<header th:replace="fragments/layout :: header">
</header>
<section class="container" style="min-height: 268px">
    <div class="row">
        <h1>day la trang lien he</h1>
        <hr/>
        <h3>Tang 6, toa <b>Vien cong nghe</b> </h3>
    </div>
</section>
<footer th:replace="fragments/layout :: footer">
</footer>
</body>
</html>