<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout_manage :: head('Devmaster::Create')">
    <title></title>
</head>
<body>
<header th:replace="fragments/layout_manage :: header"></header>
<section class="container">
    <h1>Create</h1>
  <form th:action="@{/manage/create}" method="post">
       <input type="text" name="username" placeholder="username">
       <input type="text" name="email" placeholder="email">
       <input type="text" name="password" placeholder="password">
       <button type="submit">Create</button>
   </form>
</section>
<section th:replace="fragments/layout_manage :: menu"></section>
<footer th:replace="fragments/layout_manage :: footer"></footer>
</body>
</html>