<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header class="container d-flex align-items-center">
    <img src="https://devmaster.edu.vn/images/logo.png" alt="Devmaster Academy">
</header>
<section class="container">
    <a th:href="@{/profile}" class="btn btn-success">Devmaster Profile</a>
</section>
</body>
</html>