<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Category Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body style="background-color: #ccc">
    <section class="container bg-white mt-5 p-3">
        <form th:action="@{/category/create}" th:object="${category}" method="post">
            <div class="card m-3">
                <div class="card-header">
                    <h1 th:text="${category.id != null ? 'Edit Category' : 'Create Category'}">Category Form</h1>
                </div>
                <div class="card-body">
                    <input type="hidden" th:if="${category.id != null}" th:value="${category.id}" name="id">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Category Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{categoryName}" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Status:</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="form-control" th:field="*{categoryStatus}" required>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success" th:text="${category.id != null ? 'Update' : 'Create'}">Save</button>
                    <a th:href="@{/category}" class="btn btn-secondary">Back to list</a>
                </div>
            </div>
        </form>
    </section>
</body>
</html>